body {
    font-family: system-ui, sans-serif;
}
h1 {
    width: 400px;
    background-color: white;
    color: royalblue;
    text-align: center;

    padding: 6px;
    border: 3px solid lightskyblue;
    margin: 12px auto;
}
.list {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}
.recipe1 {
    display: inline-block;
    box-sizing: border-box;
    width: 250px;
    padding: 6px;

    background-color: white;
    color: saddlebrown;
    font-weight: 700;
    border: 3px solid lightskyblue;
    margin-right: 12px;
}
.recipe2 {
    display: inline-block;
    box-sizing: border-box;
    width: 250px;
    padding: 6px;

    background-color: white;
    color: saddlebrown;
    font-weight: 700;
    border: 3px solid lightskyblue;
}